.billet-container {
  text-align: center;
  padding: 20px;
}

.btn-open-modal {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-open-modal:hover {
  background-color: #0056b3;
}

.billet-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.billet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.btn-delete {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
